body{
    display: flex;
}
.wrap{
    width: 710px;
    height: 420px;
    border-radius: 6px;
    position: absolute;
    border: 3px solid gold;
}

.top{
    width: 700px;
    height: 100px;
    background: #008075;
    position: absolute;
    top: 5px;
    margin:3px 3px 3px 5px ;
}
.left{
    width: 500px;
    height: 300px;
    background: rebeccapurple;
    position: absolute;
    top: 80px;
    margin: 33px 3px 3px 5px ;

}
.right{
    width: 195px;
    height: 300px;
    background: mistyrose;
    position: absolute;
   left: 506px;
    top: 107px;
    margin: 6px 3px;
}
.fa-a{
    position: absolute;
    left: 350px;
    top: 40px;
    font-size: 30px;
}
.fa-b{
    position: absolute;
    left: 250px;
    top: 240px;
    font-size: 30px;
}
.fa-c{
    position: absolute;
left: 600px;
top: 240px;
font-size: 30px;
}
.father{
    width: 710px;
    height: 420px;
    border-radius: 6px;
    position: absolute;
    top: 500px;
    border: 3px solid gold;
}
.a {
    width: 700px;
    height: 100px;
    background: #008075;
    position: absolute;
    margin: 6px 3px 3px 5px;
}
.b{
    width: 500px;
    height: 150px;
    background: rebeccapurple;
    position: absolute;
    top: 80px;
    margin: 33px 3px 3px 5px ;
}
.e{
    width: 165px;
    height: 145px;
    background: #52ffeb;
    position: absolute;
    top: 265px;
    left: 335px;
    margin: 3px 3px 3px 3px;
}
.d{
    width: 160px;
    height: 145px;
    background: #52ffeb;
    position: absolute;
    top: 265px;
    left: 170px;
    margin: 3px 3px 3px 3px;
}
.c{
    width: 160px;
    height: 145px;
    background: #52ffeb;
    position: absolute;
    left: 3px;
    top: 265px;
    margin: 3px 3px 3px 3px;
}
.f{ width: 195px;
    height: 300px;
    background: mistyrose;
    position: absolute;
    left: 506px;
    top: 107px;
    margin: 6px 3px;
}
.fa-a{
    position: absolute;
    left: 350px;
    top: 40px;
    font-size: 30px;
}
.fa-b{
    position: absolute;
    left: 250px;
    top: 180px;
    font-size: 30px;
}
.fa-d{
    position: absolute;
    left: 250px;
    top: 330px;
    font-size: 30px;
}
.fa-f{
    position: absolute;
    left: 600px;
    top: 250px;
    font-size: 30px;
}
.father>.fa-c {
    position: absolute;
    left: 70px;
    top: 330px;
    font-size: 30px;
}
.fa-e{
    position: absolute;
    left: 400px;
    top: 330px;
    font-size: 30px;
}

